@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --color-bg-primary: #f8f9fa;
    --color-text-primary: #393D3F;
    --color-text-secondary: #fdfdff;
    --color-bg-accent: #C6C5B9;
    --color-bg-accent-light: #62929E;
    --color-bg-accent-darker: #546A7B;

    --color-bg-navbar: #ffffff;
}

body {
    @apply transition-colors duration-200;
    background-color: var(--color-bg-primary);
    color: var(--color-text-primary);
}